/* #region App container */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.app-container {
  display: flex;
}

.app-left {
  flex: 0 0 200px;
  height: calc(100vh - 48px);
  overflow: auto;
}

.app-right {
  display: flex;
  flex-grow: 1;
  background: #f0f0f0;
}

.org-unit {
  padding: 0px 24px !important;
  font-weight: 500;
}

.view-container {
  overflow: auto;
  height: calc(100vh - 2 * 48px);
  padding: 0.75rem;
}

.header-ui-container {
  display: flex;
  gap: 0.5rem;
}

h3 {
  font-weight: 500;
  font-size: 1rem;
}
/* #endregion */

/* #region Classes for all views */

/* #endregion */

/* #region Dispense view */

.main-container {
  border-left: 1px lightgrey solid;
  flex-grow: 1;
}

.cards-container {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
  padding: 0.75rem;
  overflow: auto;
  height: calc(100vh - 2 * 48px);
  align-content: flex-start;
}

.basket-container {
  background-color: white;
  flex: 0 0 260px;
  border-left: 1px lightgrey solid;
  box-sizing: border-box;
}

.basket {
  height: calc(100vh - 2 * 48px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.basket-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.75rem;
  gap: 1rem;
}

.basket-item {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.basket-item-name {
  flex-grow: 1;
}

.basket-delete-icon {
  color: rgb(185, 36, 43);
  cursor: pointer;
  font-size: 1.5rem;
  width: 24px;
  height: 24px;
  line-height: 24px;
  flex-grow: 0;
  text-align: center;
  border-radius: 3px;
  box-sizing: border-box;
}

.basket-delete-icon:hover {
  color: white;
  background-color: rgb(185, 36, 43);
}

.basket-item-count {
  cursor: pointer;
  width: 50px;
  height: 36px;
  padding: 12px 11px 10px;
  line-height: 16px;
  text-align: right;
  border-radius: 3px;
  box-sizing: border-box;
}

.basket-item-count:hover {
  border: 1px rgb(160, 173, 186) solid;
  box-shadow: rgb(48 54 60 / 10%) 0px 1px 2px 0px inset;
}

.basket-checkout {
  padding: 0.75rem;
  border-top: 1px lightgrey solid;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.basket-checkout .status-icon {
  margin: 0;
}

.basket-checkout button,
.basket-checkout input {
  width: 100%;
}

.commodity-card {
  flex: 0 0 210px;
  background-color: white;
  border: 1px lightgrey solid;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px lightgrey;
  /* width: 240px; */
  height: 160px;
  padding: 1rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.commodity-card .card-label {
  font-size: 1.1rem;
}

.stock-count {
  margin-top: 0.75em;
}

.stock-count {
  text-align: center;
  font-size: 0.9rem;
  border: 1px solid;
  border-radius: 4px;
  padding: 4px;
  color: rgb(33, 41, 52);
}

.stock-count.high {
  background-color: rgb(245, 251, 255);
  border-color: rgb(197, 227, 252);
}

.stock-count.low {
  background-color: rgb(255, 248, 225);
  border-color: rgb(255, 224, 130);
}

.stock-count.critical {
  background-color: rgb(255, 245, 246);
  border-color: rgb(214, 114, 114);
}

.stock-count.no-stock {
  background-color: rgb(248, 248, 248);
  border-color: rgb(224, 224, 224);
}

.order-form {
  display: flex;
  justify-content: flex-end;
}

.order-form input {
  height: 36px;
  width: 50px;
  padding-left: 4px;
  padding-right: 0px;
  text-align: right;
}

.main-header,
.basket-header {
  height: 48px;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px lightgrey solid;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.header-label {
  font-size: 15px;
  font-weight: 500;
}

.basket-adder-container {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.basket-adder {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

button.increment,
button.decrement {
  font-size: 1.2rem;
  color: rgb(33, 41, 52);
  width: 29px;
  line-height: 29px;
  text-align: center;
  padding: 0;
  cursor: pointer;
  border-color: rgb(160, 173, 186);
  border-style: solid;
  background-color: rgb(249, 250, 251);
  user-select: none;
}

button.increment:hover,
button.decrement:hover {
  background-color: rgb(243, 245, 247);
}

button.increment:active,
button.decrement:active {
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 0px 1px inset;
}

button.increment:disabled,
button.decrement:disabled {
  border-color: rgb(213, 221, 229);
  color: rgb(110, 122, 138);
  background-color: rgb(249, 250, 251);
  cursor: not-allowed;
}

button.decrement {
  border-radius: 4px 0 0 4px;
  border-width: 1px 0 1px 1px;
}

button.increment {
  border-radius: 0 4px 4px 0;
  border-width: 1px 1px 1px 0;
}

.basket-amount {
  width: 48px;
  text-align: center;
  padding: 0;
  line-height: 29px;
  border: 1px solid rgb(160, 173, 186);
}

.basket-amount:disabled {
  border-color: rgb(213, 221, 229);
  color: rgb(110, 122, 138);
  background-color: rgb(249, 250, 251);
  cursor: not-allowed;
}

.basket-amount:focus-visible {
  outline: none;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 0px 1px inset;
}

/* #endregion */

/* #region Stock overview view */

.stock-tables-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

/* #endregion */
